html {
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #f8ede3, #f0e3d7, #e9d9cc, #e1cfc1, #dac5b6, #d6bbaa, #d1b19e, #cda792, #cb9a83, #c98c75, #c77e68, #c5705d);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px 20px;
}

.navbar h1{
    color: white;
    position: absolute;
    left: 50%;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

.navbar-icons {
    display: flex;
    gap: 15px;
}

.icon img {
    transition: filter 0.3s;
}

.icon:hover img {
    filter: invert(100%) brightness(100%);
}

.film-link{
    text-decoration: none;
}

.filmgrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 2em;
}

.film-card{
    background-color: #333;
    padding: 25px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.film-card h2{
    color: white;
    font-weight: bold;
    text-align: center;
}

.film-card:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}