@font-face{
    font-family: Bebas;
    src: url(/data/Fonts/BebasNeue-Regular.ttf);
}

@font-face{
    font-family: Confortaa;
    src: url(/data/Fonts/Comfortaa-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Bebas;
  }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(168,0,0,1) 50%, rgba(0,0,0,1) 100%);
    min-width: 480px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
}

.navbar h1{
    font-family: Confortaa;
    flex-grow: 1;
    text-align: center;
    font-size: 36px;
    letter-spacing: 2vh;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

.navbar-icons {
    display: flex;
    gap: 30px;
}

.icon img {
    filter: invert(24%) sepia(100%) saturate(7476%) hue-rotate(353deg) brightness(91%) contrast(101%);
}

.icon:hover img {
    filter: invert(100%) brightness(100%);
}

.film-link{
    text-decoration: none;
}

.filmgrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
}

.film-card{
    background-color: #000000;
    padding: 25px;
    margin: 20px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.film-card h2{
    text-align: center;
}

.film-card:hover{
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.Movie-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: x-large;
}

footer{
    position: fixed;
    height: 0;
}