html {
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    color: white;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(168,0,0,1) 100%);
    min-width: 480px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    padding: 10px 20px;
}

.navbar h1{
    position: absolute;
    left: 50%;
}

.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

.navbar-icons {
    display: flex;
    gap: 30px;
}

.icon img {
    filter: invert(24%) sepia(100%) saturate(7476%) hue-rotate(353deg) brightness(91%) contrast(101%);
}

.icon:hover img {
    filter: invert(100%) brightness(100%);
}

.film-link{
    text-decoration: none;
}

.filmgrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    gap: 2em;
}

.film-card{
    background-color: #000000;
    padding: 25px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.film-card h2{
    text-align: center;
}

.film-card:hover{
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}