html{
    height: 100%;
    width: 100%;
}

body{
    font-family: "Roboto Slab", serif;
    background-color: #e9c4b1;
    min-width: 480px;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 0 30px;
}

h1{
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    text-align: center;
}

.icon img {
    transition: filter 0.3s, transform 0.3s;
}

.icon:hover img {
    filter: invert(50%) brightness(100%);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    flex-wrap: wrap;
}
